/* Header */

.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#2E353F 0,#222 100%);
  background-image: linear-gradient(to bottom,#2E353F 0,#222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c',endColorstr='#ff222222',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #2E353F;
}

.logo-image {
  width: auto;
  height: 30px;
  margin-top: 7px;
}

.navbar-brand {
  padding-top: 3px;
  padding-bottom: 0px;
}

.navbar .nav a .glyphicon,
.navbar .nav a .fa {
  margin-right: 4px;
}


/* Content */

#wrap > .container {
  padding: 80px 15px 30px 15px;
}


/* Footer */

#wrap {
  /* Wrapper for page content to push down footer */
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

#footer {
  height: 50px; /* same as navbar */
  background-color: #2E353F;
  color: #666;
}

#footer ul {
  list-style: none;
  margin-bottom: 0;
}

#footer li {
  float: left;
  margin-right: 30px;
}

#footer li.fci {
  float: right;
  margin-right: 0;
}

#footer a {
  color: #999; /* same as navbar */
  display: inline-block;
  line-height: 50px;
  text-decoration: none;
}

#footer a:hover {
  color: #fff; /* same as navbar */
}

#footer .fa {
  font-size: 1.5em;
}

.poplus-logo img,
#footer .fa {
  vertical-align: -2px;
  margin-right: 4px;
}


/* Homepage */

.jumbotron {
  background-color: transparent;
}

.jumbotron > :first-child {
  margin-top: 0;
}

.jumbotron > :last-child {
  margin-bottom: 0;
}

.jumbotron-homepage {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .jumbotron-homepage {
    margin: 0 auto;
    max-width: 800px;
  }
}

.contactBtn {
  background: #57D6AC;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 21.2px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
  padding: 15px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin-top: 50px;
}

.contactBtn:hover {
  color: #fff;
  background-color: #47C49A;
}

.contactBtn .glyphicon {
  margin-right: 10px;
  vertical-align: -2px;
}


/* Instance listing page */

#first-instance-helper {
  text-align: center;
  background-color: rgba(230, 231, 231, 0.5); /* improve legibility on modern browsers */
}

#first-instance-helper .form-group {
  max-width: 600px;
  margin: 30px auto;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

#first-instance-helper label {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}


/* Message Writing pages */

.previous-messages {
  /* Zarino has no idea what this section is for,
  and it doesn't seem to work anyway, so he's hiding
  it for the demo */
  display: none;
}

.writing-panel, .message-detail, .getbacktotheinstance {
  max-width: 720px;
  margin: 0 auto;
}

.writing-panel .panel-body {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .writing-panel .panel-body {
    padding: 30px 40px;
  }
}

.message-form .form-group {
  margin-bottom: 25px; /* more breathing space */
}

.message-form .row.last {
  margin-top: 10px;
}

.message-form .row.last .form-group {
  margin-bottom: 0;
}

label[for="id_persons"] + ul {
  padding-left: 0;
}

.form-group .chosen-container-multi .chosen-choices {
  padding: 4px 8px;
  border-color: #ccc;
  line-height: 1.42;
  border-radius: 4px;
  color: #555;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}


.message-detail .panel-header > :last-child,
.message-detail .panel-body > :last-child,
.message-detail .panel-footer > :last-child,
.message-detail .dl-horizontal,
.message-detail .dl-horizontal > dd > :last-child {
  margin-bottom: 0;
}

.message-detail .dl-horizontal > dt {
  font-weight: normal;
  color: #999;
  width: 80px;
}

@media screen and (min-width: 768px) {
  .message-detail .dl-horizontal > dd {
    margin-left: 100px;
  }
}

.message-detail .message_content {
  font-size: 18px;
}

.message-detail .panel-body dt {
  margin-top: 3px; /* compensate for 18px <dd> font-size */
}

.message-detail .panel-footer dd {
  margin-bottom: 7px;
}

.message-detail .panel-footer dd:last-child {
  margin-bottom: 0;
}

.getbacktotheinstance .glyphicon {
  margin-right: 4px;
  font-size: 12px;
}

.answer-in-list {
  margin: 20px;
}


/* User account admin pages */

.template-update {
  background-color: #2E353F;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.profile-page-tab-content {
  margin-bottom: 50px;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-top: 0;
}

@media screen and (min-width: 768px) {
  .profile-page-tab-content {
    padding: 30px 40px;
  }
}

.edit-profile-tab-content {
  padding: 40px 80px 40px 0;
}

.profile-page-tab-content .page-header,
.profile-page-tab-content .page-header h3 {
  margin-top: 0;
}


/* Person listing page */

.jumbotron-person-page {
  background: #f3f3f3;
  background: rgba(255,255,255,0.8);
  text-shadow: 0 1px 0 #fff;
}

.popit-person-list {
  list-style: none;
  padding: 0;
  margin: 0 -15px;
}

.popit-person-list li {
  margin-bottom: 20px;
}

.popit-person-list .initials {
  display: block;
  line-height: 40px;
  height: 40px;
  width: 40px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ccc;
  background: #f3f3f3;
  background: rgba(255,255,255,0.8);
  text-shadow: 0 1px 0 #fff;
  text-align: center;
}

.popit-person-list a:hover .initials {
  color: #bbb;
}

.popit-person-list h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
