{% extends "base.html" %}
{% load subdomainurls %}
{% load i18n %}
{% block content %}
{% load markdown_deux_tags %}
<div class="panel panel-default message-detail">
  <div class="panel-heading">
    <dl class="dl-horizontal">
      <dt>Subject</dt>
      <dd>
        <h1 class="panel-title">{{ message.subject }}</h1>
      </dd>
    </dl>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Subject</dt>
      <dd class="message_content">
        {{ message.content|linebreaks }}
      </dd>
    </dl>
  </div>
  <div class="panel-footer">
    <dl class="dl-horizontal">
      <dt>{% trans 'Sent to:' %}</dt>
      <dd>{% for person in message.people %}
          <span class="message_to_person">{{ person.name }}</span>
      {% endfor %}</dd>
      <dt>{% trans 'Asked by:' %}</dt>
      <dd>{{ message.author_name }}</dd>
    </dl>
  </div>
</div>

<br />

{% if message.answers.all %}
  <div class="message-answers">
      <h3>{% trans "Answers" %}</h3>
      {% for answer in message.answers.all %}
          {% include "nuntium/answer/answer_in_list.html" with answer=answer %}
      {% endfor %}
</div>
{% endif %}

<div class="getbacktotheinstance text-center"> <a href="{% url 'people_list' subdomain=message.writeitinstance.slug %}"><i class="glyphicon glyphicon-chevron-left"></i>{% blocktrans %}Back to homepage{% endblocktrans %} </a></div>

{% endblock %}
